.curseclient
CustomSkinLoader/
fancymenu_data/
fbmods_release.fbm
journeymap/data/
journeymap/icon/
journeymap/server/
journeymap/journeymap.log
knownkeys.txt
logs/
manifest.json
minecraftinstance.json
modlist.html
mods/
opf_cache/
resourcepacks/
saves/
servers.dat
usercache.json
usernamecache.json
schematics/
options.txt
backups/
essential/avatar-cache/
essential/cosmetic-cache/
essential/image-cache/
essential/libraries/
essential/loader/
essential/screenshot-cache/
essential/screenshot-metadata/
essential/Essential (forge_1.16.5).jar
essential/expFeatures.json
essential/onboarding.json
essential/version.json
ops.json
crash-reports/
local/ftbchunks/data/
patchouli_data.json
local/ftbutilities/backups.json
local/ftbchunks/data/4cc0f226-4467-4fec-9e61-81f0b63df3db/block_map.txt
local/ftbchunks/data/4cc0f226-4467-4fec-9e61-81f0b63df3db/minecraft_overworld/0EA81-0EA97.zip
local/ftbchunks/data/4cc0f226-4467-4fec-9e61-81f0b63df3db/minecraft_overworld/0EA81-0EA98.zip
local/ftbchunks/data/4cc0f226-4467-4fec-9e61-81f0b63df3db/minecraft_overworld/0EA82-0EA97.zip
local/ftbchunks/data/4cc0f226-4467-4fec-9e61-81f0b63df3db/minecraft_overworld/0EA82-0EA98.zip
local/ftbchunks/data/4cc0f226-4467-4fec-9e61-81f0b63df3db/minecraft_overworld/waypoints.json
patchouli_data.json
