.curseclient
CustomSkinLoader/
fancymenu_data/
fbmods_release.fbm
journeymap/data/
journeymap/icon/
journeymap/server/
journeymap/journeymap.log
knownkeys.txt
logs/
manifest.json
minecraftinstance.json
modlist.html
mods/
opf_cache/
resourcepacks/
saves/
servers.dat
usercache.json
usernamecache.json
schematics/
options.txt
